/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1480px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* site_header */
.site_header {
  background-color: #E4E4E4;
  margin-bottom: 2rem;
}

.site_header__container {
  display: flex;
  justify-content: center;
}

.site_header--navbar_brand {
  color: #0000FF;
}

.site_header--blue_text {
  color: #008000;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
}

/* hero */
.hero {
  margin-bottom: 2rem;
}

.hero__fieldset {
  text-align: center;
}

details {
  margin-bottom: 1rem;
}

.article__text {
  margin-bottom: 2rem;
}

code {
  background-color: #e0e0e0;
  color: #000;
  display: flex;
  padding: 0.2rem;
}

.code_comment {
  color: #708090;
}

.attentiable_article_part {
  background-color: #fbecdd;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

.article__header {
  cursor: pointer;
}

.article_keyword {
  background-color: #e0e0e0;
  color: #ffa500;
  padding: 0 0.4rem;
  border-radius: 0.5rem;
}

.article__img {
  display: block;
}

.article__link {
  color: #0b17be;
}